.root {
  //Box model
  padding: 10rem;

  //Typography
  text-align: center;

  span {
    //Typography
    font-size: 6rem;
  }

  h1 {
    //Typography
    font-size: 2.7rem;
  }

  p {
    //Typography
    font-size: 1.2rem;
  }

}